@{
    ViewBag.Title = "Create";
}

<h2>Adding New Event</h2>

<form action="/Event/Add" method="post">
    <div>
        <label for="EventName">Event Name:</label>
        <input type="text" name="EventName" id="EventName" />
    </div>
    <div>
        <label for="EventDescription">Event Description:</label>
        <input type="text" name="EventDescription" id="EventDescription" />
    </div>
    <div>
        <label for="EventDate">Event Date:</label>
        <input type="datetime-local" name="EventDate" id="EventDate" />
    </div>
    <div>
        <label for="EventPrice">Event Price:</label>
        <input type="number" name="EventPrice" id="EventPrice" step="0.1" />
    </div>
    <div>
        <label for="EventAddress">Event Address: </label>
        <input type="text" name="EventAddress" id="EventAddress" />
    </div>
    <div>
        <label for="CityId">City Id: </label>
        <select id="CityId" name="CityId">
            <option value=""></option>
            <option value="1">Etobicoke</option>
            <option value="2">Scarborough</option>
            <option value="3">York</option>
            <option value="4">North York</option>
            <option value="5">East York</option>
            <option value="6">Old Toronto</option>
            <option value="7">Vaughan</option>
            <option value="8">Mississauga</option>
            <option value="9">Richmond</option>
            <option value="10">Brampton</option>
            <option value="11">Pickering</option>
            <option value="12">Oakville</option>
            <option value="13">Ajax</option>
            <option value="14">Whitchurch-Stouffville</option>
            <option value="15">Bolton</option>
            <option value="16">Aurora</option>
            <option value="17">Milton</option>
            <option value="18">Georgetown</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Add Event" />
    </div>
</form>
